<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>Exception Handler 사용하기</h1>
    <h3>@Exception Handler</h3>
    <button onclick="location.href='controller-null'">nullPorinter Exception 테스트</button>
    <button onclick="location.href='controller-user'">사용자 정의 Exception 테스트</button>

    <h3>@Controller Advice</h3>
    <button onclick="location.href='other-controller-null'">다른 컨트롤러의 널포인트 익셉션 테스트</button>
    <button onclick="location.href='other-controller-user'">다른 컨트롤러의 사용자 정의 익셉션 테스트</button>
    <button onclick="location.href='other-controller-array'">ArrayExceptionTest</button>

</body>
</html>