<!-- 추가됨 -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>인덱스</title>
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <p th:text="${#authentication.name}"></p>
    <p th:text="${#authentication.authorities}"></p>
    <p th:text="${#authentication.getPrincipal()}"></p>
    <button onclick="location.href='auth/login'">로그인</button>
    <button onclick="location.href='auth/logout'">로그아웃</button>
</body>

</th:block>
</html>